<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
	<h1>Sign up</h1>
	<form action="/signup" method="POST">
		<div>
			<label for="email">Email *</label>
			<input name="email" type="email" id="email" placeholder="Email *" required />
		</div>
		<div>
			<label for="password">Password *</label>
			<input name="password" type="password" id="password" placeholder="Password *" required />
		</div>
		<button type="submit">Sign up</button>
	</form>
</body>
</html>